.userGridContainer {
  width: 100%;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

.userListContent {
  width: 80%;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

.UserCardGrid {
  padding: 10px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.dropdown-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.user-card {
  width: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 5px;
  transition: transform 0.2s;
  cursor: pointer;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.user-card:hover {
  transform: scale(1.05);
}
a:hover {
  text-decoration: none;
}
